<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ymm-consignor</string>
		<string>ymm-driver</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqapi</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>qqmap</string>
		<string>navione</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>wechat</string>
		<string>ymmalipay</string>
		<string>shipperalipay</string>
		<string>specialalipay</string>
		<string>cargoalipay</string>
		<string>safepay</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>wlqq.consignor</string>
		<string>ChangePositioning</string>
		<string>wx497b059dea665591</string>
		<string>kwai</string>
		<string>kwaiAuth2</string>
		<string>kwaiopenapi</string>
		<string>KwaiBundleToken</string>
		<string>kwai.clip.multi</string>
		<string>KwaiSDKMediaV2</string>
		<string>ksnebula</string>
		<string>douyinopensdk</string>
		<string>douyinsharesdk</string>
		<string>snssdk1128</string>
		<string>bankabc</string>
		<string>mbccl-consignor</string>
		<string>mbsd-driver</string>
		<string>mbsd-consignor</string>
		<string>bocom</string>
		<string>mbspay</string>
		<string>feishu</string>
		<string>com.icbc.iphoneclient</string>
		<string>uppaywallet</string>
		<string>psbccashier</string>
		<string>bocmbankpsn</string>
		<string>cmbmobilebank</string>
		<string>hlldapp</string>
		<string>watermarkcamera</string>
		<string>dchat</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>为使您可以在身份认证、IM聊天、识别二维码、银行卡和其他图片内容以及其他需要使用和保存图片、视频的场景中正常使用相册中的内容，APP需要申请相册权限。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>为使您可以在身份认证、IM聊天、识别二维码、银行卡和其他图片内容以及其他需要使用和保存图片、视频的场景中正常使用相册中的内容，APP需要申请相册权限。</string>
	<key>AppShareConfig</key>
	<dict>
		<key>SharePlatforms</key>
		<array>
			<dict>
				<key>AppID</key>
				<string>wx84cd45679b7c34e3</string>
				<key>UniversalLink</key>
				<string>https://unlink.ymm56.com/hcbdriver/</string>
				<key>PlatformType</key>
				<integer>1</integer>
				<key>isCallbackDelegate</key>
				<false/>
			</dict>
			<dict>
				<key>AppID</key>
				<string>102031348</string>
				<key>UniversalLink</key>
				<string>https://unlink.ymm56.com/qq_conn/102031348</string>
				<key>PlatformType</key>
				<integer>2</integer>
				<key>isCallbackDelegate</key>
				<true/>
			</dict>
			<dict>
				<key>AppID</key>
				<string>awxxevvppt8twfih</string>
				<key>UniversalLink</key>
				<string>https://unlink.ymm56.com/hcbdriver/</string>
				<key>PlatformType</key>
				<integer>3</integer>
				<key>isCallbackDelegate</key>
				<true/>
			</dict>
			<dict>
				<key>AppID</key>
				<string>ks684547143481464877</string>
				<key>UniversalLink</key>
				<string>https://unlink.ymm56.com/hcbdriver/</string>
				<key>PlatformType</key>
				<integer>4</integer>
				<key>isCallbackDelegate</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
